<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--在手机网站，都需要加上视口约束！！！-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <!--以最新的内核渲染页面-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <!--引入css文件-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <style type="text/css">


    </style>
</head>
<body>
<div class="container">


</div>


<!--引入jQuery-->
<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<!--引入js文件-->
<script src="js/bootstrap.js" type="text/javascript"></script>
</body>
</html>